@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
html,body{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  background-color: #1E1E1E;
  color: white;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}
.Reservation{
  padding: 10px;
  cursor: pointer;
  border: 2px gold solid;
  
}

